:root {
    --primary-color: hsl(217, 87%, 47%);
    --secondary-color: hsl(212.5, 100%, 11.6%);
    --dark-background-color: hsl(214, 100%, 8%);
}

@layer base {
  input[type=number].appearance-none::-webkit-inner-spin-button,
  input[type=number].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number].appearance-none {
    -moz-appearance:textfield;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  /* License CC BY-SA 4.0 */
  /* Source: https://stackoverflow.com/a/9422689 */
  /* clears the input ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
  /* clears the input ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}
