@import url("globals.css");
@font-face {
    font-family: "Montserrat";
    src: url("/static/fonts/montserrat.woff2")
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-nav-trapezoid-low {
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
  }
  .clip-nav-trapezoid-mid {
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
  }
}

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}
